<div
  class="card bg-dark-100 tablet:w-100 h-fix m-auto border-2 p-3">
  <div class="text-3xl font-semibold mb-5 text-center">
    <span class="title">{{ editData?.isEdit ? "Update : " + editData?.title : "Create" }}</span>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <input
        type="text"
        id="title"
        placeholder="Enter Title"
        formControlName="title"
        class="input"
        [ngClass]="isInvalid && updateForm.controls['title'].invalid
        ? 'border-2 border-accent-200 focus:ring-accent-200 focus:border-accent-200 focus:outline-none'
        : 'border-gray-400 focus:outline-none'" />
      <div class="text-accent-200 mt-1 text-end text-xs"
        *ngIf="isInvalid && updateForm.controls['title'].invalid">
        Title is required.
      </div>
    </div>
    <div class="mb-2">
      <select class="input"
        [ngClass]="isInvalid && updateForm.controls['source'].invalid
      ? 'border-2 border-accent-200 focus:ring-accent-200 focus:border-accent-200 focus:outline-none'
      : 'border-gray-400 focus:outline-none'"
        id="source"
        placeholder="Source"
        formControlName="source">
        <!-- <option selected>Source</option> -->
        <option [value]="null" disabled selected>Select Source</option>
        <option value="angular">Angular</option>
        <option value="vue">VueJs</option>
        <option value="react">ReactJs</option>
        <option value="next">NextJs</option>
      </select>
      <div class="text-accent-200 mt-1 text-end text-xs"
        *ngIf="isInvalid && updateForm.controls['source'].invalid">
        Source is required.
      </div>
    </div>

    <div class="mb-3">
      <textarea
        id="description"
        placeholder="Enter Description"
        formControlName="description"
        class="input h-32"
        [ngClass]="isInvalid && updateForm.controls['description'].invalid
        ? 'border-2 border-accent-200 focus:ring-accent-200 focus:border-accent-200 focus:outline-none'
        : 'border-gray-400 focus:outline-none'">
      </textarea>

      <div class="text-accent-200 mt-1 text-end text-xs"
        *ngIf="isInvalid && updateForm.controls['description'].invalid">
        Description is required.
      </div>
    </div>

    <button type="submit" class="btn mb-2 bg-primary-500">
      {{ editData?.isEdit ? "Update" : "Create" }}
    </button>
    <button
      type="button" (click)="onCancel()"
      class="btn bg-dark-400 text-white">
      Cancel
    </button>
  </form>
</div>
